kind: Deployment
apiVersion: apps/v1
metadata:
  name: mysql-deployment
  namespace: notesapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      name: mysql-pod
      labels:
        app: mysql
    spec: 
      containers:
        - name: mysql
          image: mysql
          ports:
            - containerPort: 3306
          env:
            - name: DB_HOST
              value: db_cont
            - name: MYSQL_DATABASE
              valueFrom: 
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-database
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
