apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: notesapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: shadowigw/nginx-image-1:latest
          ports:
            - containerPort: 80
